* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headar {
    width: 100%;
    height: 60vh;
    background: url('./Images/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headar .about {
    margin: 10%;
}

.about h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    color: rgb(44, 43, 43);
}

.about p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 97, 97);
    margin-left: 0;
}

.headar .home {
    padding-top: 4%;
    margin: 10%;
    color: rgb(44, 43, 43);
}



/* fifth-container */
.fifth-container {
    width: 100%;
    height: 100vh;
    background: url(./Images//doctor-img-2.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 50px;
}

.fifth-container-content {
    position: absolute;
    width: 55%;
    margin-left: 40%;
    margin-top: 13%;
}

.fifth-container-content h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: rgb(43, 43, 43);
}

.fifth-container-content p {
    font-size: 16px;
    color: rgb(73, 73, 73);
    line-height: 25px;
    margin-left: 0;
}

.fifth-container-content .color-p {
    margin: 10px 0px;
    color: rgb(4, 121, 121);
}


/* eighth-container */
.eighth-container {
    width: 100%;
    height: auto;
    margin: 40px 0px;
}

.eighth-container h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 4% 0%;
    font-size: 45px;
    color: rgb(43, 43, 43);
}

.main-q {
    display: flex;
}

.question {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.main-q p {
    font-size: 20px;
    width: 92%;
    text-align: justify;
    margin: 5px;
    line-height: 155%;
}

.main-q .icon {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
    grid-column: 2/3;
    margin: 7px;
}

.ans {
    text-align: justify;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    margin-bottom: 20px;
    background-color: rgb(4, 121, 121, 0.4);
    padding: 10px;
    border-radius: 5px;
}

/* ninth-container */
.ninth-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.ninth-container h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    color: rgb(43, 43, 43);
}

.ninth-container input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
}

.ninth-container input:focus {
    outline: none;
    border: 2px solid rgb(4, 121, 121);
    border-radius: 10px;
}

.ninth-container textarea {
    width: 100%;
    height: 300px;
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
}

.ninth-container textarea:focus {
    outline: none;
    border: 2px solid rgb(4, 121, 121);
    border-radius: 10px;
}

.ninth-container label {
    font-size: 20px;
    color: rgb(73, 73, 73);
}

.ninth-container button {
    width: 230px;
    height: 50px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(4, 121, 121);
    margin-right: 5px;
    cursor: pointer;
    background-color: rgb(4, 121, 121, 0.4);
    transition: 0.5s;
    color: rgb(43, 43, 43);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 50px;
}

.ninth-container button:hover {
    color: #fff;
    background-color: rgb(4, 121, 121);
}

/* thenth-container */
.thenth-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.thenth-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.thenth-container p {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 40px;
    color: rgb(99, 97, 97);
}

.thenth-container h4 {
    color: rgb(99, 97, 97);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-bottom: 50px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {

    /* fifth-container */
    .fifth-container {
        height: 300px;
        background-size: 160% 300px;
    }

    .fifth-container-content h1 {
        font-size: 17px;
    }

    .fifth-container-content p {
        font-size: 10px;
        line-height: 12px;
    }

    /* eighth-container */
    .eighth-container h1 {
        font-size: 30px;
    }

    .question {
        width: 75%;
    }

    .main-q p {
        font-size: 14px;
    }

    /* ninth-container */
    .ninth-container h1 {
        font-size: 30px;
    }

    .ninth-container label {
        font-size: 17px;
    }

    .ninth-container input {
        font-size: 15px;
    }

    .ninth-container textarea {
        height: 200px;
    }

    .ninth-container button {
        width: 190px;
    }

    /* thenth-container */
    .thenth-container p {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .thenth-container h4 {
        font-size: 16px;
        margin-bottom: 35px;
    }
}

@media screen and (min-width: 426px) and (max-width: 599px) {

    /* fifth-container */
    .fifth-container {
        height: 350px;
        background-size: 155% 350px;
    }

    .fifth-container-content h1 {
        font-size: 20px;
    }

    .fifth-container-content p {
        font-size: 13px;
        line-height: 16px;
    }

    /* eighth-container */
    .eighth-container h1 {
        font-size: 30px;
    }

    .question {
        width: 65%;
    }

    .main-q p {
        font-size: 15px;
    }

    /* ninth-container */
    .ninth-container h1 {
        font-size: 33px;
    }

    .ninth-container button {
        width: 190px;
    }

    /* thenth-container */
    .thenth-container p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .thenth-container h4 {
        font-size: 17px;
        margin-bottom: 35px;
    }

}

@media screen and (min-width: 600px) and (max-width: 910px) {

    /* about */
    .about h1 {
        font-size: 30px;
        margin-left: 5%;
    }

    .about p {
        margin-left: 5%;
        font-size: 12px;
        line-height: 12px;
    }

    .headar .home {
        font-size: 23px;
    }

    /* fifth-container */
    .fifth-container {
        height: 460px;
        background-size: 140% 480px;
    }

    .fifth-container-content h1 {
        font-size: 28px;
    }

    .fifth-container-content p {
        font-size: 17px;
        line-height: 20px;
    }

    /* eighth-container */
    .eighth-container h1 {
        font-size: 35px;
    }

    .question {
        width: 47%;
    }

    .main-q p {
        font-size: 17px;
    }

    /* ninth-container */
    .ninth-container h1 {
        font-size: 35px;
    }

    .ninth-container button {
        width: 200px;
    }

    /* thenth-container */
    .thenth-container p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .thenth-container h4 {
        font-size: 19px;
        margin-bottom: 40px;
    }

}

@media screen and (min-width: 911px) and (max-width: 1150px) {

    /* eighth-container */
    .question {
        width: 48%;
    }
}




@media screen and (min-width: 320px) and (max-width: 599px) {

    /* about */
    .about h1 {
        font-size: 30px;
        margin-left: 5%;
    }

    .about p {
        margin-left: 5%;
        font-size: 12px;
        line-height: 12px;
    }

    .headar .home {
        font-size: 23px;
    }
}

@media screen and (min-width: 600px) and (max-width: 910px) {}